
h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			font-family: "Oswald"
		}

		body {
			font-family: "Open Sans"
		} 

		.fa-facebook {
			background: #3B5998;
			color: white;
		}

		.fa-youtube {
			background: #bb0000;
			color: white;
		}

		.fa-instagram {
			background: #dd4b39;
			color: white;
		}

		.carousel-inner>.item>img,
		.carousel-inner>.item>a>img {
			width: 100%;
			margin: auto;
			height: 50%;
		} 
		.grad{
			background: #184478;
			color: white;
		}
		.gradheader{
			background: linear-gradient(to right, #184478 1%,#184478 51%,#3b9097 100%);
			color:white;
